ENABLE_SNOW_WORKER=
SNOW_VIDEO_SOURCE_URL=""
SNOW_CAMERA_ID=""
SNOW_YOLO_MODEL_PATH=""
SNAPSHOT_BASE_DIR=""
SNOW_CENTER_ZONE_START_X=
SNOW_CENTER_ZONE_END_X=
SNOW_MIN_DIRECTION_DELTA=
GEMINI_API_KEY=""
GEMINI_MODEL=""
MERGE_WINDOW_SECONDS=
MERGE_TTL_SECONDS=
SNOW_SHOW_WINDOW=
